<section class="container">
  <section class="row align-items-center justify-content-center">
    <div
      class="col col-md-6 d-flex flex-column align-items-center card shadow- p-2 m-2"
    >
      <img
        src="../../../../assets/photos/avatar7.png"
        class="image-fluid rounded-circle shadow-lg my-2"
        alt="avatar"
        style="width: 5rem"
      />
      <form
        action="
             "
        class="form"
      >
        <div class="card-body p-0">
          <ul class="list-group list-group-flush rounded-3">
            <li class="list-group-item d-flex p-3">
              <fa-icon class="mx-2" [icon]="faUser"></fa-icon>
              <p class="mb-0">Omar</p>
            </li>
            <li class="list-group-item d-flex p-3">
              <fa-icon class="mx-2" [icon]="faMailBulk"></fa-icon>
              <p class="mb-0">omar@gmail.com</p>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </section>
</section>
