.about {
  margin: 65px 0;
  box-shadow: 4px 18px 24px -1px #888888;
}
.about .about-tex {
  padding: 35px;
}
.about .about-tex h4 {
  font-size: 30px;
  font-weight: 900;
  text-transform: capitalize;
  color: var(--main-color);
  margin: 0 0 12px 0px;
}

.about .about-tex h4:nth-child(1) {
  color: #ffb200;
  font-size: 50px;
  font-weight: 700;
}

.about .about-tex h4:nth-child(2) {
  color: #446a46;
}

.about .about-tex p {
  font-weight: 300;
  font-size: 19px;
  text-transform: capitalize;
  line-height: 49px;
  font-family: cursive;
}
.about .about-img img {
  width: 77%;
  transform: translate(14%, 0px);
  height: 648px;
}

@media (max-width: 991px) {
  .about .about-tex p {
    line-height: 29px;
    font-size: 17px;
  }
}
@media (max-width: 767px) {
  .about .about-tex p {
    line-height: 28px;
    font-size: 15px;
    text-transform: capitalize;
  }
}

// start of  related products

.card {
  width: 100%;
  margin: 42px 0;
  font-family: revert;
  box-shadow: 4px 18px 24px -1px #888888;
}

.card img {
  width: 100%;
  height: 457px;
}

.container h1 {
  font-family: initial;
  font-weight: 700;
  font-size: 50px;
  color: #293462;
}
