 <div *ngIf="errorMessage" class="toast fixed-top m-auto mt-5 bg-danger text-capitalize text-white" style="display: block;" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <strong class="me-auto"><fa-icon [icon]="faWarning"></fa-icon></strong>
    <small class="text-muted">Error submitting data</small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" (click)="hideToast()"></button>
  </div>
  <div class="toast-body">
   {{errorMessage}}
  </div>
</div>